/*
    GRAY SCALE (LIGHTER TO DARKER)
    #E0E0E0
    #C8C8C8
    #A9A9A9
    #909090
    #707070
    #484848
    #181818    
*/

body{
    background-color: #d1d1d1;
}

.bg-gray-1{background-color: #E0E0E0;}

.bg-gray-2{background-color: #C8C8C8;}

.bg-gray-3{background-color: #A9A9A9;}

.bg-gray-3-1{background-color:rgb(151, 150, 150) }

.bg-gray-4{background-color: #808080;}

.bg-gray-4-1{background-color: #7a7a7a }

.bg-gray-5{background-color: #707070;}

.bg-gray-6{background-color: #484848;}

.bg-gray-7{background-color: #181818 ;}

.f-gray-1{color: #E0E0E0;}

.f-gray-2{color: #C8C8C8;}

.f-gray-3{color: #A9A9A9;}

.f-gray-4{color: #909090;}

.f-gray-4-1{color: #7a7a7a }

.f-gray-5{color: #707070;}

.f-gray-6-1{color: #3f3f3f;}

.f-gray-6{color: #484848;}

.f-gray-7{color: #181818 ;}



*, ::before, ::after{
    box-sizing: border-box;
}

div{
    border: 1px solid black;
}

.flex-container{
    display: flex;
}

.clear-fix::after{
    content: "";
    clear: both;
    display: table;
}

.mag-header{
    width: 100%;
    height: 180px;
    flex-direction: row;
}

.header-logo{
    width: 18%;
    height: 100%;
  /*  background-color: rgb(156, 156, 156);*/
}
.header-logo>div,
.search-topic>div {
    width:100px;
    height:100px;
    border: 2px solid black;
    border-radius: 10px;
    margin: 42px auto;   
}

#search{
    width:70%;
    height:60px;    
    margin: 60px auto;
}

.article-header,
.search-topic{
    width: 13.66%;
    height: 100%;
}

.search-topic{
    background-color:  rgb(156, 156, 156); 
}
.search-topic *, .header-logo * {
    margin: 60px auto;
    font-size: 20px;
    border: 3px solid black;
    border-radius: 5px;
    width: 80%;
    height: 55px;
    text-align: center;
    padding-top: 12px;        
    font-weight: bold;
}

/*MAIN ARTICLES*/

.main-articles{
    width: 100%;
    height: 600px;
    font-family: 'Baloo Chettan', cursive;
}

.main-articles div[class*="article"]{    
    width: 50%;
    height: 100%;
    float: left;
    border: 1px solid black;
  
}

.article-header *{
    border: none;
    margin: 0 auto;
    text-align: center;

    /* background-color: #E0E0E0;
    background-color: #C8C8C8;
    background-color: #A9A9A9;
    background-color: #909090;
    background-color: #707070; */
    /* background-color: #484848; */
    /* background-color: #181818; */

}

.menu-item-icon{    
    font-weight: bolder;
    font-size: 60px;
    margin-top: 20px;
    font-family: 'Baloo Chettan', cursive;
    text-transform: uppercase;    
}

.menu-item-title{
    width: 60%;
    text-transform: capitalize;
    margin-top: 20px;
    font-size: 30px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif, cursive;

}

.menu-item-description{
    margin-top: 20px;
    font-style: italic;
}

.abs-title{
    position: absolute;
    background-color: transparent;
    top:200px;            
    font-size: 40px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    border: none;    
    
}
.abs-title>p {
    display:inline;
    background-color: #181818;
    color: wheat;
    line-height: 45px;
    box-sizing: content-box;
    padding: 0 20px;
}


.secondary-articles{
    width: 100%;
    height: 600px;
    clear: both;
    
}

.secondary-articles div[class*="article"], .more-articles div[class*="article"]{

    width: 25%;
    padding: 2%;
    height: 100%;
    float: left;
    border: 1px solid black;
}

.more-articles{
    margin-top: 40px;
    width: 92%;
    margin: 2.5% auto;
    height: 600px;
}

.more-articles .banner{
    width: 50%;
    border-radius: 10px;
    padding: 1.5%;
    float: left;
    border: 1px solid black;
    height: 100%;
}

#float-right{
    float: right;
}


.mag-footer{
   
    width: 100%;
    background-color: gray;
    clear: both;
}

.main-articles [class^="article"] {
    padding-top: 150px;
    padding-left: 100px;

}

h1{
    font-size: 60px;
}

[class^="article"]>div {
    border: none;    
}

.picture *{
    float: left;
}
.picture::after{
    content: "";
    clear:both;
    display: table;
}

.picture>div{
     height: 80px;
     width: 80px;
     text-align: center;
     padding: 10px;
     padding-top:22px;
     border-radius: 10px;
}


.picture>h3 {
    text-align: center;
    padding-top: 20px;
    padding-left: 20px; 
    font-size: 25px;
}
.picture>h4 {
    text-align: center;    
    padding-left: 5px;
    font-size: 15px;
    font-style: italic;
    font-weight: 100;
    margin-top: 27px;
    margin-left: 6px;
}

[class^="article"]>h1 {
    padding-top: 25px;
}

[class^="article"]::after {
    content: "";
    display: table;
    clear: both;
}
[class^="article"]>h4{
    float:left;
    padding-right: 20px;
    margin-top: 40px;
}

/**/

.secondary-articles, .more-articles{
    font-family: 'Baloo Chettan', cursive;
}

.secondary-articles h1, .more-articles h1{
    font-size: 35px;
    margin-bottom: 20px;
}

.secondary-articles h3, .more-articles h3{
    margin-bottom: 20px;
}

.secondary-articles p, .more-articles p{
    font-size: 25px;
    font-family: Elena;
    font-family: Calibri,Georgia,serif;
}

/**/


.banner-img{
    width: 40%;
    height: 200px;
    margin: 0 auto;
    border-radius: 10px;
}

.banner h1{
    font-family: 'Baloo Chettan', cursive;
    text-align: center;
    width: 70%;
    margin: 20px auto;
    font-size: 50px;
}

.banner p{
    text-align: center;
    width:80%;
    margin: 10px auto;
    font-size: 25px;
}

.banner button{
    width: 35%;
    margin: 30px auto;
    border: 0px;
    border-radius: 15px;
    height: 55px;
    font-size: 20px;
    display: block;
}

.banner a{
    text-align: center;
    display: block;
}

/**/

.mag-footer{
    font-family: 'Baloo Chettan', cursive;
    position: relative;
}

.footer-title{
    padding-top: 40px;
    font-size: 25px;
    text-align: center;
    display: block;
}

.articles-links{
    width: 80%;
    margin: 50px auto;
    text-align: center;
    border: none;
}

.articles-links a{
    line-height: 60px;
    font-size: 35px;
    margin-right: 5px;
    
}

.mag-footer p{
    display: block;
    width: 30%;
    margin: 20px auto;
    text-align: center;
    line-height: 25px;
    font-size: 18px;
}

.contact-links{
    width: 30%;
    margin: 10px auto;
    text-decoration: underline;
    text-align: center;
    border: none;
    font-size: 20px;
}

.contact-links a{
    margin-right: 20px;
    margin-bottom: 20px;
    line-height: 20px;
}

.footer-img{
    width: 10%;
    height: 200px;
    position: absolute;
    bottom: 10px;
    left: 216px;
    border: 2px solid black;
    border-radius: 10px
}

.abs-title>p{
    text-transform: uppercase;
}

.menu-item-icon {
    width:60px;
    height:60px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #707070;
    margin: 20px auto;
}

